* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    background-color: #ffc107;
}

h1 {
    font-weight: 400;
    color: #212529;
    padding: 2rem;
}

h2 {
    font-weight: 200;
    color: #212529;
    padding: 2rem;
}

form {
    padding: 2rem;
}

