{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">
    <title>Lista de Operaciones</title>
</head>
<body>
    <h1>ATMmeso</h1>
    <h2>Lista de Operaciones</h2>
    <table>
        <tr>
            <th>Fecha habilitación</th>
            <th>ATM</th>
            <th>Id gaveta</th>
            <th>Precinto gaveta</th>
            <th>Denominación</th>
            <th>Total gaveta</th>
            <th>Armado</th>
            <th>Fecha carga</th>
            <th>Precinto Bolso</th>
            
        </tr>

        {% for operacion in operaciones %}
            <tr>
                <td>{{ operacion.fecha_habilitacion|date:"d M, Y" }}</td>
                <td>{{ operacion.cajero.id_cajero }}</td>
                <td>{{ operacion.gaveta.id_gaveta }}</td>
                <td>{{ operacion.precinto_gaveta }}</td>
                <td>{{ operacion.gaveta.denominacion_billete }}</td>
                <td>${{ operacion.total_por_gaveta }}</td>
                <td>{{ operacion.usuario }}</td>
                <td>{{ operacion.fecha_operacion|date:"SHORT_DATE_FORMAT" }} - {{ operacion.fecha_operacion|time:"h:i a" }}</td>
                </td>
                
            </tr>

        {% endfor %}

    </table>
    
</body>
</html>
