<!-- templates/home.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}"
    <title>ATMMESO2024</title>
</head>
<body>
    <div class="landing__titulo">
        <h1>ATMmeso</h1>        
    </div>
    <div class="landing__menu">
        <ul>
            <li>
                <a href="#">Armado de ATM</a>
            </li>
            <li>
                <a href="#">Lista Operaciones</a>
            </li>
            <li>
                <a href="#">Diferencias</a>
            </li>
            <li>
                <a href="#">Custodias</a>
            </li>
        </ul>
    </div>
</body>
</html>
